<?xml version="1.0" encoding="GBK"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
 <servlet>
  <servlet-name>firstServlet</servlet-name>
  <servlet-class>lee.FirstServlet</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>firstServlet</servlet-name>
   <url-pattern>/aa</url-pattern>
 </servlet-mapping>
</web-app>
